{% extends "base_template.html" %}

{% block content %}
        <div>
            <h1>Please enter coin id:</h1>
            <form action="#" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.coin_id.label }}<br>
                    {{ form.coin_id(size=20) }}
                    {% for error in form.coin_id.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        <hr>
        <div>
        <a href="/home">Home</a>
    </div>
{% endblock %}