{% extends "base_template.html" %}

{% block content %}
        <br/><br/>
        {% if greetings %}
        <h1>{{greetings.greeting}}</h1>
        {% else %}
        <h1>Welcome , Hope You are Having a Great day !!! .</h1>

        {% endif %}
        <div class="result">
            <br/><br/>
            <h2> Tag {{ coin_tag }} already exist for the Coin ID {{ coin_id }}!!! </h2>
            <br/>
            <span><a href="/add_new_tag" style="margin-right:10px">Add New Tag</a></span>
            <span><a href="/home" style="margin-right:10px">Home</a></span>
        </div>
{% endblock %}